.root {
    text-align: center;
    margin: 0 auto;
    padding: 100px;
    max-width: 750px;;

    span {
        font-size: 64px;
        color: #e4e4e4ea;
    }
}

.header {
    color: #e4e4e4ea;
}

.description {
    color: #e4e4e4ea;
    font-size: 26px;
}