.root {
    position: relative;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    padding-left: 42px;
 
    width: 400px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #232323;

    &:focus {
        border: 1px solid rgba(255, 255, 255, 0.9);
    }

    &::placeholder{
        color: #e4e4e4ea;
      }
}

.icon {
    width: 24px;
    height: 24px;
    opacity: 0.4;
    position: absolute;
    left: 12px;
    top: 12px;
    fill: white;
}

.iconClear {
    width: 24px;
    height: 24px;
    opacity: 0.3;
    position: absolute;
    left: 360px;
    top: 12px;
    fill: white;
   
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

input, select, textarea{
    color: #e4e4e4ea;
}

textarea:focus, input:focus {
    color: #e4e4e4ea;
}